data_dir: "{{ vector_data_dir | default('/var/lib/vector') }}"

sources:
  journal_logs:
    type: journald 

sinks:
  console:
    type: console
    inputs:
      - journal_logs
    encoding:
      codec: json

  # Задел на будущее: отправка в ClickHouse
  # clickhouse_output:
  #   type: clickhouse
  #   inputs:
  #     - journal_logs
  #   endpoint: "http://{{ hostvars['clickhouse-01']['ansible_host'] }}:8123"
  #   database: "logs"